In [1]:
import pandas as pd

In [2]:
df_1987 = pd.read_csv('1987.csv')
df_1988 = pd.read_csv('1988.csv')
df_1989 = pd.read_csv('1989.csv')
df_1990 = pd.read_csv('1990.csv')

In [15]:
df_1987.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [13]:
df_1987['Distance'].fillna(0)

0          447.0
1          447.0
2          447.0
3          447.0
4          447.0
           ...
1311821    719.0
1311822    719.0
1311823    719.0
1311824    200.0
1311825    200.0
Name: Distance, Length: 1311826, dtype: float64

In [14]:
df_1987['TaxiIn']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
1311821   NaN
1311822   NaN
1311823   NaN
1311824   NaN
1311825   NaN
Name: TaxiIn, Length: 1311826, dtype: float64

In [3]:
df_1987.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [5]:
df_1987.isnull().sum().sum()

13229145

In [4]:
df_1987['ArrDelay'].head()

0    23.0
1    14.0
2    29.0
3    -2.0
4    33.0
Name: ArrDelay, dtype: float64

In [6]:
df_1987.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [7]:
df_1987.columns[df_1987.isna().any()]

Index(['DepTime', 'ArrTime', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Distance', 'TaxiIn', 'TaxiOut',
       'CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [7]:
df_1988.columns[df_1988.isna().any()]

Index(['DepTime', 'ArrTime', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Distance', 'TaxiIn', 'TaxiOut',
       'CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [8]:
df_1989.columns[df_1989.isna().any()]

Index(['DepTime', 'ArrTime', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Distance', 'TaxiIn', 'TaxiOut',
       'CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [9]:
df_1990.columns[df_1990.isna().any()]

Index(['DepTime', 'ArrTime', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Distance', 'TaxiIn', 'TaxiOut',
       'CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [6]:
df_1987_drop = ['DepTime', 'ArrTime', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Distance', 'TaxiIn', 'TaxiOut',
       'CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay']

In [7]:
df_1988_drop = ['DepTime', 'ArrTime', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Distance', 'TaxiIn', 'TaxiOut',
       'CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay']

In [8]:
df_1989_drop = ['DepTime', 'ArrTime', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Distance', 'TaxiIn', 'TaxiOut',
       'CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay']

In [9]:
df_1990_drop = ['DepTime', 'ArrTime', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Distance', 'TaxiIn', 'TaxiOut',
       'CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay']

In [10]:
df_1987_new = df_1987.drop(df_1987_drop, axis = 1)
df_1988_new = df_1988.drop(df_1988_drop, axis = 1)
df_1989_new = df_1989.drop(df_1989_drop, axis = 1)
df_1990_new = df_1990.drop(df_1990_drop, axis = 1)

In [11]:
df_1987_new= pd.DataFrame(df_1987_new, index=None)
df_1988_new= pd.DataFrame(df_1988_new, index=None)
df_1989_new= pd.DataFrame(df_1989_new, index=None)
df_1990_new= pd.DataFrame(df_1990_new, index=None)

In [12]:
df_1987_new.to_csv(r'/Users/prabhuswamikallur/Desktop/Data_Migration_to_Tableau/new_data1.csv', header=True, index=False)

In [15]:
df_1987_new.columns[df_1987_new.isna().any()]

Index([], dtype='object')

In [16]:
df_1987_new.isnull().sum().sum()

0

In [17]:
len(df_1987_new)

1311826

In [18]:
len(df_1988_new)

5202096

In [26]:
len(df_1989_new)

5041200

In [27]:
len(df_1990_new)

5270893

In [19]:
df_1990_new.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'CRSDepTime', 'CRSArrTime',
       'UniqueCarrier', 'FlightNum', 'CRSElapsedTime', 'Origin', 'Dest',
       'Cancelled', 'Diverted'],
      dtype='object')

In [20]:
df_1987_new.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'CRSDepTime', 'CRSArrTime',
       'UniqueCarrier', 'FlightNum', 'CRSElapsedTime', 'Origin', 'Dest',
       'Cancelled', 'Diverted'],
      dtype='object')

In [21]:
len(df_1987_new.columns)

13

In [22]:
df_1988_new.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'CRSDepTime', 'CRSArrTime',
       'UniqueCarrier', 'FlightNum', 'CRSElapsedTime', 'Origin', 'Dest',
       'Cancelled', 'Diverted'],
      dtype='object')

In [23]:
len(df_1988_new.columns)

13

In [36]:
len(df_1989_new.columns)

13

In [37]:
len(df_1990_new.columns)

13

In [24]:
df_1989_new.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'CRSDepTime', 'CRSArrTime',
       'UniqueCarrier', 'FlightNum', 'CRSElapsedTime', 'Origin', 'Dest',
       'Cancelled', 'Diverted'],
      dtype='object')

In [25]:
df_1987.isna().any()

Year                 False
Month                False
DayofMonth           False
DayOfWeek            False
DepTime               True
CRSDepTime           False
ArrTime               True
CRSArrTime           False
UniqueCarrier        False
FlightNum            False
TailNum               True
ActualElapsedTime     True
CRSElapsedTime       False
AirTime               True
ArrDelay              True
DepDelay              True
Origin               False
Dest                 False
Distance              True
TaxiIn                True
TaxiOut               True
Cancelled            False
CancellationCode      True
Diverted             False
CarrierDelay          True
WeatherDelay          True
NASDelay              True
SecurityDelay         True
LateAircraftDelay     True
dtype: bool

In [14]:
frames = [df_1987_new, df_1988_new, df_1989_new, df_1990_new]

In [15]:




result = pd.concat(frames )

In [16]:
len(result)

16826015

In [13]:
df_1987_new.to_csv(r'/Users/prabhuswamikallur/Desktop/Data_Migration_to_Tableau/new_df.csv')

In [41]:
result.to_csv(r'/Users/prabhuswamikallur/Desktop/Data_Migration_to_Tableau/combined_data.csv')